GrinGlobal.Search.Engine.Tester/Service References/SearchSvc/SearchHost3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrinGlobal.Search.Engine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrinGlobal.Search.Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIndexReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexReport" nillable="true" type="tns:IndexReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexReport" nillable="true" type="tns:ArrayOfIndexReport" />
  <xs:complexType name="IndexReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolvers" nillable="true" type="tns:ArrayOfResolverReport" />
      <xs:element minOccurs="0" name="Sql" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexReport" nillable="true" type="tns:IndexReport" />
  <xs:complexType name="ArrayOfResolverReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResolverReport" nillable="true" type="tns:ResolverReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResolverReport" nillable="true" type="tns:ArrayOfResolverReport" />
  <xs:complexType name="ResolverReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForeignKeyField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryKeyField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResolvedPrimaryKeyField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sql" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResolverReport" nillable="true" type="tns:ResolverReport" />
</xs:schema>