GrinGlobal.Search.Engine.AdminTool/Service References/GrinGlobalSearch/SearchHost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SearchHost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2010/GrinGlobal.Search.Service/SearchHost?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2010/GrinGlobal.Search.Service/SearchHost?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2010/GrinGlobal.Search.Service/SearchHost?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchHost_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="ISearchHost_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchHost_RotateIndexes_InputMessage">
    <wsdl:part name="parameters" element="tns:RotateIndexes" />
  </wsdl:message>
  <wsdl:message name="ISearchHost_RotateIndexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RotateIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchHost_GetLatestMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMessage" />
  </wsdl:message>
  <wsdl:message name="ISearchHost_GetLatestMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchHost">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchHost/Search" message="tns:ISearchHost_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchHost/SearchResponse" message="tns:ISearchHost_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RotateIndexes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchHost/RotateIndexes" message="tns:ISearchHost_RotateIndexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchHost/RotateIndexesResponse" message="tns:ISearchHost_RotateIndexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchHost/GetLatestMessage" message="tns:ISearchHost_GetLatestMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchHost/GetLatestMessageResponse" message="tns:ISearchHost_GetLatestMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchHost" type="tns:ISearchHost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/ISearchHost/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RotateIndexes">
      <soap:operation soapAction="http://tempuri.org/ISearchHost/RotateIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestMessage">
      <soap:operation soapAction="http://tempuri.org/ISearchHost/GetLatestMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchHost">
    <wsdl:port name="SearchHost" binding="tns:SearchHost">
      <soap:address location="http://localhost:2010/GrinGlobal.Search.Service/SearchHost" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>