GrinGlobal.Business/Service References/SearchSvc/GrinGlobal.Search.Engine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrinGlobal.Search.Engine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrinGlobal.Search.Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfResolvedHitData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResolvedHitData" nillable="true" type="tns:ResolvedHitData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResolvedHitData" nillable="true" type="tns:ArrayOfResolvedHitData" />
  <xs:complexType name="ResolvedHitData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeywordIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryKeyID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResolvedIDList" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResolvedHitData" nillable="true" type="tns:ResolvedHitData" />
</xs:schema>